In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('TV_Final.csv')

In [3]:
df.head()

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
0,TOSHIBA,Ultra HD LED,55,37999,54990,VIDAA,4.3
1,TCL,QLED Ultra HD,55,52999,129990,Android,4.4
2,realme,HD LED,32,13999,17999,Android,4.3
3,Mi,HD LED,32,14999,19999,Android,4.4
4,realme,HD LED,32,12999,21999,Android,4.3

In [4]:
df.shape

(912, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             912 non-null    object
 1   Resolution        912 non-null    object
 2   Size              912 non-null    int64
 3   Selling Price     912 non-null    int64
 4   Original Price    912 non-null    int64
 5   Operating System  901 non-null    object
 6   Rating            692 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 50.0+ KB

In [6]:
df.duplicated().sum()

30

In [7]:
df.isnull().sum()

Brand                 0
Resolution            0
Size                  0
Selling Price         0
Original Price        0
Operating System     11
Rating              220
dtype: int64

In [8]:
df.drop(columns=['Rating'],inplace=True)

In [9]:
df.drop(columns=['Original Price'],inplace=True)

In [10]:
df.head()

     Brand     Resolution  Size   Selling Price Operating System
0  TOSHIBA   Ultra HD LED     55          37999            VIDAA
1     TCL   QLED Ultra HD     55          52999          Android
2  realme          HD LED     32          13999          Android
3      Mi          HD LED     32          14999          Android
4  realme          HD LED     32          12999          Android

In [11]:
null_os_records = df[df['Operating System'].isnull()]
null_os_records

                Brand   Resolution  Size   Selling Price Operating System
20   MarQ by Flipkart       HD LED     32           9999              NaN
414          Sun King       HD LED     32          24999              NaN
558          Skyworth       HD LED     24           8659              NaN
559            Maser        HD LED     24           7499              NaN
585           MURPHY   Full HD LED     32          12990              NaN
813  MarQ by Flipkart       HD LED     24           7499              NaN
814  MarQ by Flipkart  Full HD LED     24           6999              NaN
815  MarQ by Flipkart  Full HD LED     32           9499              NaN
828           MURPHY   Full HD LED     32          13990              NaN
829           MURPHY        HD LED     24           7490              NaN
851           PHILIPS  Full HD LED     22           6649              NaN

In [12]:
os_value_counts = df['Operating System'].value_counts(dropna=False)
os_value_counts

Operating System
Android      474
Tizen        145
Linux        127
WebOS        109
HomeOS        28
VIDAA         13
NaN           11
FireTV OS      5
Name: count, dtype: int64

In [13]:
df['Operating System'] = df['Operating System'].fillna('No OS')

In [14]:
os_value_counts = df['Operating System'].value_counts(dropna=False)
os_value_counts

Operating System
Android      474
Tizen        145
Linux        127
WebOS        109
HomeOS        28
VIDAA         13
No OS         11
FireTV OS      5
Name: count, dtype: int64

In [15]:
df.isnull().sum()

Brand               0
Resolution          0
Size                0
Selling Price       0
Operating System    0
dtype: int64

In [16]:
df.shape

(912, 5)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             912 non-null    object
 1   Resolution        912 non-null    object
 2   Size              912 non-null    int64
 3   Selling Price     912 non-null    int64
 4   Operating System  912 non-null    object
dtypes: int64(2), object(3)
memory usage: 35.8+ KB

In [18]:
df['Brand'].value_counts()

Brand
SAMSUNG             140
LG                  122
SONY                 62
TCL                  44
Panasonic            30
Micromax             25
Vu                   23
Lloyd                22
Mi                   19
iFFALCON by TCL      19
Thomson              18
Haier                18
Sansui               18
PHILIPS              17
Blaupunkt            15
KODAK                15
MOTOROLA             15
IMPEX                13
TOSHIBA              13
Croma                12
Candes               12
Onida                12
Power Guard          11
Nokia                11
T-Series             11
Hisense              10
CloudWalker           9
OnePlus               9
RGL                   9
Acer                  9
Coocaa                9
AISEN                 8
MarQ by Flipkart      8
Sharp                 8
Onix                  8
G-TEN                 8
realme                7
Adsun                 7
Intex                 7
Samsung               6
JVC                   6
Dyanora               6
HUIDI                 6
Akai                  6
LumX                  6
Weston                5
Compaq                5
VG                    4
MURPHY                4
BPL                   4
Dektron               4
KRISONS               3
DETEL                 3
Oxygen                3
Infinix               3
Sanyo                 2
Sun King              1
Skyworth              1
Maser                 1
Name: count, dtype: int64

In [19]:
df['Brand'] = df['Brand'].replace(['Samsung'], 'SAMSUNG')

In [20]:
df['Brand'].value_counts()

Brand
SAMSUNG             146
LG                  122
SONY                 62
TCL                  44
Panasonic            30
Micromax             25
Vu                   23
Lloyd                22
Mi                   19
iFFALCON by TCL      19
Thomson              18
Haier                18
Sansui               18
PHILIPS              17
Blaupunkt            15
KODAK                15
MOTOROLA             15
IMPEX                13
TOSHIBA              13
Croma                12
Candes               12
Onida                12
T-Series             11
Power Guard          11
Nokia                11
Hisense              10
Acer                  9
Coocaa                9
RGL                   9
OnePlus               9
CloudWalker           9
Onix                  8
Sharp                 8
G-TEN                 8
AISEN                 8
MarQ by Flipkart      8
realme                7
Intex                 7
Adsun                 7
LumX                  6
Dyanora               6
Akai                  6
HUIDI                 6
JVC                   6
Weston                5
Compaq                5
MURPHY                4
VG                    4
BPL                   4
Dektron               4
KRISONS               3
DETEL                 3
Infinix               3
Oxygen                3
Sanyo                 2
Maser                 1
Skyworth              1
Sun King              1
Name: count, dtype: int64

In [21]:
selected_brands = [
    'SAMSUNG', 'LG', 'SONY', 'TCL', 'Panasonic', 'Micromax', 'Vu', 'Lloyd', 'Mi',
    'iFFALCON by TCL', 'Thomson', 'Haier', 'Sansui', 'PHILIPS', 'KODAK', 'MOTOROLA',
    'TOSHIBA', 'Croma', 'Onida', 'Nokia', 'Hisense', 'Acer', 'OnePlus',
    'MarQ by Flipkart', 'realme', 'Intex', 'Infinix'
]

df = df[df['Brand'].isin(selected_brands)]

In [22]:
df['Brand'].value_counts()

Brand
SAMSUNG             146
Panasonic            30
Micromax             25
Vu                   23
iFFALCON by TCL      19
Thomson              18
PHILIPS              17
MOTOROLA             15
TOSHIBA              13
Onida                12
Hisense              10
OnePlus               9
Acer                  9
MarQ by Flipkart      8
Infinix               3
Name: count, dtype: int64

In [23]:
df.shape

(357, 5)

In [24]:
df.head()

      Brand    Resolution  Size   Selling Price Operating System
0   TOSHIBA  Ultra HD LED     55          37999            VIDAA
5   OnePlus        HD LED     32          15999          Android
6   OnePlus   Full HD LED     43          25999          Android
11  Hisense  Ultra HD LED     55          36999          Android
15  Hisense  Ultra HD LED     70          89999          Android

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 0 to 879
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             357 non-null    object
 1   Resolution        357 non-null    object
 2   Size              357 non-null    int64
 3   Selling Price     357 non-null    int64
 4   Operating System  357 non-null    object
dtypes: int64(2), object(3)
memory usage: 16.7+ KB

In [26]:
df['Resolution'].value_counts()

Resolution
Ultra HD LED     154
Full HD LED       89
HD LED            66
QLED Ultra HD     46
HD Plasma          2
Name: count, dtype: int64

In [27]:
df.rename(columns={'Size ': 'Size'}, inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 0 to 879
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             357 non-null    object
 1   Resolution        357 non-null    object
 2   Size              357 non-null    int64
 3   Selling Price     357 non-null    int64
 4   Operating System  357 non-null    object
dtypes: int64(2), object(3)
memory usage: 16.7+ KB

In [29]:
df.head()

      Brand    Resolution  Size  Selling Price Operating System
0   TOSHIBA  Ultra HD LED    55          37999            VIDAA
5   OnePlus        HD LED    32          15999          Android
6   OnePlus   Full HD LED    43          25999          Android
11  Hisense  Ultra HD LED    55          36999          Android
15  Hisense  Ultra HD LED    70          89999          Android

In [30]:
df['Size'].value_counts()

Size
55    73
43    73
32    62
65    44
50    32
49    20
40    15
24     8
75     7
58     5
42     3
46     3
70     2
39     2
48     2
20     2
22     2
85     1
60     1
Name: count, dtype: int64

In [31]:
df['Selling Price'].value_counts()

Selling Price
36999     5
18999     5
34999     5
28999     5
11999     5
         ..
69990     1
45785     1
121999    1
159990    1
96999     1
Name: count, Length: 249, dtype: int64

In [32]:
df['Operating System'].value_counts()

Operating System
Android    167
Tizen      145
Linux       24
VIDAA       13
No OS        5
HomeOS       3
Name: count, dtype: int64

In [33]:
df.shape

(357, 5)

In [34]:
df.head()

      Brand    Resolution  Size  Selling Price Operating System
0   TOSHIBA  Ultra HD LED    55          37999            VIDAA
5   OnePlus        HD LED    32          15999          Android
6   OnePlus   Full HD LED    43          25999          Android
11  Hisense  Ultra HD LED    55          36999          Android
15  Hisense  Ultra HD LED    70          89999          Android

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 0 to 879
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             357 non-null    object
 1   Resolution        357 non-null    object
 2   Size              357 non-null    int64
 3   Selling Price     357 non-null    int64
 4   Operating System  357 non-null    object
dtypes: int64(2), object(3)
memory usage: 16.7+ KB

In [36]:
X = df.drop(columns=['Selling Price'])
y = np.log(df['Selling Price'])

In [37]:
X

       Brand    Resolution  Size Operating System
0    TOSHIBA  Ultra HD LED    55            VIDAA
5    OnePlus        HD LED    32          Android
6    OnePlus   Full HD LED    43          Android
11   Hisense  Ultra HD LED    55          Android
15   Hisense  Ultra HD LED    70          Android
..       ...           ...   ...              ...
869       Vu  Ultra HD LED    50            Linux
876  TOSHIBA   Full HD LED    43            VIDAA
877  TOSHIBA  Ultra HD LED    65            VIDAA
878  TOSHIBA   Full HD LED    49            VIDAA
879  TOSHIBA  Ultra HD LED    65            VIDAA

[357 rows x 4 columns]

In [38]:
y

0      10.545315
5       9.680281
6      10.165813
11     10.518646
15     11.407554
         ...
869    10.179603
876    10.126591
877    11.112433
878    10.308919
879    11.482456
Name: Selling Price, Length: 357, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20, random_state=42)

In [40]:
X_train

               Brand    Resolution  Size Operating System
657        Panasonic   Full HD LED    40          Android
831          OnePlus  Ultra HD LED    50          Android
673        Panasonic  Ultra HD LED    55          Android
149         MOTOROLA  Ultra HD LED    43          Android
591               Vu  Ultra HD LED    50          Android
..               ...           ...   ...              ...
143  iFFALCON by TCL  Ultra HD LED    65          Android
229        Panasonic  Ultra HD LED    55            Linux
626          SAMSUNG   Full HD LED    32            Tizen
851          PHILIPS   Full HD LED    22            No OS
220         Micromax  Ultra HD LED    49          Android

[285 rows x 4 columns]

In [41]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error

In [42]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [43]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf', OneHotEncoder(sparse=False, drop='first', handle_unknown='ignore'), [0, 1, 3])
], remainder='passthrough')


step2 = RandomForestRegressor(n_estimators=100,
                              random_state=3,
                              max_samples=0.5,
                              max_features=0.75,
                              max_depth=15)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

C:\Users\Om Valia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

R2 score 0.8912811136864492
MAE 0.1969208394109756

In [45]:
import pickle
pickle.dump(df,open('df_tv.pkl','wb'))
pickle.dump(pipe,open('pipeline_tv.pkl','wb'))

In [46]:
resolution = 'Ultra HD LED'
size = 55
os = 'Android'

filtered_records = df[(df['Resolution'] == resolution) & (df['Size'] == size) & (df['Operating System'] == os)]
filtered_records

               Brand    Resolution  Size  Selling Price Operating System
11           Hisense  Ultra HD LED    55          36999          Android
22   iFFALCON by TCL  Ultra HD LED    55          32999          Android
35                Vu  Ultra HD LED    55          46999          Android
42           OnePlus  Ultra HD LED    55          49999          Android
48           Thomson  Ultra HD LED    55          34999          Android
58   iFFALCON by TCL  Ultra HD LED    55          35999          Android
82           Hisense  Ultra HD LED    55          46999          Android
120          Thomson  Ultra HD LED    55          34999          Android
148          OnePlus  Ultra HD LED    55          52999          Android
224  iFFALCON by TCL  Ultra HD LED    55          36999          Android
251               Vu  Ultra HD LED    55          41999          Android
323  iFFALCON by TCL  Ultra HD LED    55          43999          Android
372               Vu  Ultra HD LED    55          46899          Android
533         Micromax  Ultra HD LED    55          49999          Android
547  iFFALCON by TCL  Ultra HD LED    55          31999          Android
605          PHILIPS  Ultra HD LED    55          48999          Android
640         MOTOROLA  Ultra HD LED    55          39999          Android
673        Panasonic  Ultra HD LED    55         168900          Android
729             Acer  Ultra HD LED    55          39999          Android
778  iFFALCON by TCL  Ultra HD LED    55         113990          Android
827         MOTOROLA  Ultra HD LED    55          42999          Android